<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add to Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <img src="assets/trackierlogo.png" alt="Trackier Logo" class="logo" />
    
    <h2>Product Details</h2>
    
    <ion-card>
      <ion-card-content>
        <div class="product-info">
          <img src="assets/chocochipcupcake.png" alt="Choco Chip Cupcake" class="product-image" />
          <div class="product-details">
            <h3>Britannia Cupcake</h3>
            <p>Price: $30.00</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="purchase()">
      Purchase
    </ion-button>
  </div>
</ion-content>